.side-bar {
  background-color: lightgoldenrodyellow;
}

.side-bar__search-form {
  margin: 10px;
}

.side-bar__search-form > button {
  margin-left: -15px;
}

.side-bar > ul {
  width: 200px;
  margin: 2px;
  padding-inline-start: 0px;
  padding: 2px;
  text-align: center;
  list-style: none;
}

.side-bar > ul > li {
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  border-radius: 5px;
  margin: 2px;
}

.side-bar > ul > li :hover {
  background-color: goldenrod;

}